 /* ====================== GREEN COLOR THEME ======================= */
 :root{
    --background-color-1: rgba(225, 240, 235, var(--tw-bg-opacity));
    /* --background-color-2: rgba(37, 192, 131, var(--tw-bg-opacity)); */
    --background-color-2: #1c8c64;
    --background-color-3: rgba(27, 143, 99, var(--tw-bg-opacity));
    --background-color-4: #146254;
    --background-color-5: rgba(0, 0, 0, var(--tw-bg-opacity));
}

html{
    background-color: var(--background-color-1);
}

.wrapper .wrapper-box{
    background-color: var(--background-color-4);
}

@media (max-width: 1279px) {
    .wrapper .wrapper-box{
        background-color: var(--background-color-4) !important;
    }
}

.side-nav > ul > li > .side-menu:hover:not(.side-menu--active):not(.side-menu--open){
    background-color: var(--background-color-2);
}

.wrapper::before{
    background-color: var(--background-color-2);
}

.breadcrumb, .border-theme-2{
    border-color: rgba(250, 250, 250, var(--tw-border-opacity));
}

.breadcrumb{
    color: rgba(12, 113, 89, var(--tw-bg-opacity));
    font-weight: bold;
}

.bg-theme-11, .bg-theme-26{
    background-color: var(--background-color-4);
}

.border-theme-12{
    border-color: rgba(12, 113, 89, var(--tw-bg-opacity));
}

.side-menu__icon, .side-menu__title{
    color: #FFF;
}

.btn-primary{
    background-color: var(--background-color-3);
    border-color: rgba(17, 135, 90, var(--tw-bg-opacity));
}

.wrapper.wrapper--top-nav::before{
    background-color: var(--background-color-2);
}

.top-nav > ul > li:hover > .top-menu:not(.top-menu--active){
    background-color: var(--background-color-2);
}

.hover\:bg-theme-1:hover{
    background-color: var(--background-color-2);
}

/* ======================= GREEN COLOR THEME END ======================== */